/* 
    Document   : screen
    Created on : 20.11.2010, 16:03:39
    Author     : Daniel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

* {
    margin: 0;
    padding: 0;
}

.rrTypeRadio {
    font-weight: bold;
    color: firebrick;

}

.help {
    border-bottom: 1px dotted firebrick;
    cursor: help;
}

.geo_data {
    font-size: small;
    background-image: url("../pix/globe16.png");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left center;
    background-color: transparent;
    padding-left: 18px;
}

#rr_fieldset {

}

.input {
    background: #99ff99;
}

#rr_fieldset {
   line-height: 150%;
       padding: 0px 12px;
}

#rr_fieldset.expanded {
    border: 1px solid black;
     /* background: #ffcc99; */
}
#rr_fieldset.collapsed {
    border: dotted maroon;
    border-width: 1px 0 0 0;
}

.input_search,
.input_rerank {
    padding:10px 20px;

}

.input_rerank {
     background: #ffcc99;
}